.contact {
	text-align: center;
	padding: 100px 0 75px;
	background: $off-white;
	position: relative;
	z-index: 100;
	a.email-link {
		font-size: rem-calc(43);
		color: $grey;
		padding: 20px 20px;
		position: relative;
    display: block;
    margin-top: 10px;
		span {
			color: $primary;
		}
		&:hover {
			text-decoration: none;
		}
    @media (max-width: $small) {
      font-size: rem-calc(18);
      padding: 10px;
    }
	}
  .social-link {
    margin: 0;
    li {
      float: none;
      display: inline-block;
      list-style: none;
    }
    a {
      color: lighten($grey, 10%);
      @include transition;
      &:hover {
        color: $primary;
      }
      span {
        font-size: 16px;
      }
    }
  }
}

.avatar {
  max-width: 60px;
  position: relative;
  @include transition;
  @include border-radius(100%);
  &:hover {
    -webkit-transform: scale(1.5);
  }
}