.header {
	padding: 50px 0;
	h1 {
		text-align: center;
		font-weight: 700;
		font-size: rem-calc(50);
		text-transform: uppercase;
		span {
			font-size: rem-calc(40);
			position: relative;
			top: -3px;
			color: $primary;
		}
	}
	.picon-down-arrow {
		text-align: center;
		display: block;
	}
}