body {
  background: $grey;
  @include open-sans;
}

// Placeholder for common border attributes
%-borders {
  position: fixed;
  padding: .75%;
  background: $grey;
  z-index: 120;
}

.top-border {
  @extend %-borders;
  top: 0;
  left: 0;
  right: 0;
}

.bottom-border {
  @extend %-borders;
  bottom: 0;
  left: 0;
  right: 0;
}

.left-border {
  @extend %-borders;
  left: 0;
  top: 0;
  bottom: 0;
}

.right-border {
  @extend %-borders;
  right: 0;
  top: 0;
  bottom: 0;
}