.navigation {
  position: fixed; 
  top: 200px;
  left: 0;
  right: 0;
  z-index: 10;
  &.alt-nav {
    z-index: 110;
    background: $off-white;
    padding-top: 1.5%;
    @include positioning(0, 1.5%, initial, 1.5%);
  }
}

.alt-nav {
  .logo {
    max-width: 75px;
    position: relative;
    float: left;
    margin: 18px 30px;
  }
  .collapser {
    display: block;
    position: relative;
    float: right;
    margin: 18px 30px;
  }
  .main-nav {
    display: none;
    ul {
      margin: 20px auto 0;
    }
    &.appear {
      display: block;
    }
  }
}

.logo {
  display: block;
  margin: 0 auto 30px;
  max-width: 150px;
}

.main-nav {
  width: 100%;
  text-align: center;
  ul {
    margin: 20px auto;
    list-style-type: none;
    li {
      display: inline-block;
      a {
        color: $grey;
        font-size: rem-calc(12);
        font-weight: 400;
        letter-spacing: 5px;
        text-transform: uppercase;
        padding: 7px 20px;
        position: relative;
        display: block;
        @include transition;
        &:hover, &.active {
          color: $primary;
          text-decoration: none;
        }
      }
    }
    a:hover, .a.active {
      span[class*="line-"] {
        opacity: 1;
      }
      .line-bottom {
        width: 0%;
      }
      .line-left {
        height: 100%;
        top: auto;
        bottom: 0;
      }
    }
    span[class*="line-"] {
      display: block;
      background: $primary;
      position: absolute;
      opacity: 0;
      @include transition-c(.75s all ease-in-out);
    }
    .line-bottom {
      width: 100%;
      left: 0;
      height: 1px;
      bottom: 0;
    }
    .line-left {
      left: 0;
      bottom: 0;
      height: 0%;
      width: 1px;
    }
  }
  @media (max-width:$small) {
    clear: both;
    padding-bottom: 10px;
  }
}

.collapser {
  display: none;
  width: 40px;
  padding: 5px 0;
  background: $primary;
  right: 0;
  z-index: 999;
  cursor: pointer;
  @include transition;
  span {
    display: block;
    width: 11px;
    height: 4px;
    background: $white;
    margin: 3px auto;
    @include border-radius(2px);
    @include transition;
    &:nth-child(even) {
      width: 17px;
    }
  }
  &:hover, &:focus {
    background: $grey;
    outline: none;
  }
  &.active span {
    width: 15px;
    &:first-child {
      @include transform(rotate(45deg) translate3d(5px, 5px, 0px));
    }
    &:nth-child(even) {
      @include opacity(0);
      background: $primary; // opacity fail backup
    }
    &:last-child {
      @include transform(rotate(135deg) translate3d(-5px, 5px, 0px)); 
    }
  }
}