$duration: 1s;
$delay: .2s;
$function: ease;
$fill: both;
$visibility: hidden;

@import "animation/properties";
@import "animation/fadeIn";
@import "animation/fadeInDown";
@import "animation/fadeInUp";
@import "animation/fadeOutDown";

.fadeIn {
	@include fadeIn($duration, $delay, $function, $fill, $visibility);
}
.fadeInDown {
	@include fadeInDown(2s, $delay, $function, $fill, $visibility);
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.fadeInUp {
	@include fadeInUp($duration, $delay, $function, $fill, $visibility);
}
.fadeOutDown {
	@include fadeOutDown($duration, $delay, $function, $fill, $visibility);
}